@page "{id}"
@using ContosoCrafts.WebSite.Components
@model CreateModel
@{
    ViewData["Title"] = Model.Product == null ? "Create Page" : "Update Page";
}
<div class="container">
    <h2>@(Model.Product == null ? "Create" : "Update") Restaurant</h2>
    @(await Html.RenderComponentAsync<RestaurantForm>(
        RenderMode.ServerPrerendered, 
        new { Product = Model.Product, }
    ))
</div>

<script src="_framework/blazor.server.js"></script>