@page "{id}"
@model DeleteModel
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@{
	ViewData["Title"] = "Delete Page";
}
<div class="container">
	<h2>Delete Restaurant</h2>

	<h5 class="title" id="restaurauntTitle">@Model.Product.Title</h5>

	<img class="restauraunt-img" src='@Model.Product.Image' alt='Image for @Model.Product.Title' style="max-height:1000px;max-width:900px;height:auto;width:auto;">

	<h5 class="restauraunt-description">@Model.Product.Description</h5>

	<h5>Are you sure you want to permanantly remove this restauraunt from the database?</h5>

	<button class="btn btn-primary" type="submit">Delete</button>

</div>