@page "{id}"
@model DeleteModel
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@{
	ViewData["Title"] = "Delete Page";
}
<div class="container">
    <h2>Delete Restaurant</h2>
    <div class="container">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Product.Id" class="form-control" type="hidden" />
            <input asp-for="Product.Title" class="form-control" type="hidden" />
            <h5 class="title" id="restaurauntTitle">@Model.Product.Title</h5>
            <img class="restauraunt-img" id="restaurauntImage" src='@Model.Product.Image' alt='Image for @Model.Product.Title'>
            <h5 class="restauraunt-description">@Model.Product.Description</h5>
            <h5>Are you sure you want to permanantly remove this restauraunt from the database?</h5>
            <button class="btn btn-primary" type="submit">Confirm Delete</button>
        </form>
    </div>
</div>