@page
@using ContosoCrafts.WebSite.Components
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="_framework/blazor.server.js"></script>

<div id="cards_wrapper">
    <div class="row">
    @foreach (var product in ProductService.GetAllData())
    {
        <component 
        type="typeof(ProductCard)" 
        render-mode="ServerPrerendered" 
        param-Product="@product"
        />
    }
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 