@page
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="cards_wrapper">
    <div class="row">
    @foreach (var product in ProductService.GetAllData())
    {
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="card-flyer">
                    <div class="text-box">
                        <div class="image-box">
                            <img src="@product.Image" alt="@product.Title" />
                        </div>
                        <div class="text-container">
                            <h6>@product.Title</h6>
                            <p>@product.Description</p>
                            <a href="/Restaurants/Detail/@product.Id">
                                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            
        </div>
    }
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
