@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body class="index">
    <div class="index-item">
        <p id="home-title1">Feeling Hungry</p>
        <p id="home-title2">See What's Open</p>
        <a href="/Home">
            <img class="" />
            <img class="" />
        </a>
    </div>
</body>

<script src="_framework/blazor.server.js"></script>