@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Unauthorzied use of Time To Eat is strictly prohibited. Any violation will be subjected to hefty financial penalty.</p>
