@using System
@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@using Microsoft.AspNetCore.Components.Web
@inject JsonFileProductService ProductService

<div class="container">
        <form>
            <div class="form-group">
                <label for="restaurant-name">Name</label>
                <input type="text" class="form-control" id="restaurant-name" placeholder="Enter restaurant Name" value="@Product?.Title">
            </div>
            <div class="form-group">
                <label for="restaurant-photo-url">Photo URL</label>
                <input type="text" class="form-control" id="restaurant-photo-url" placeholder="Enter restaurant image url" value="@Product?.Image">
            </div>
            <div class="form-group">
                <label for="restaurant-website-url">Website URL</label>
                <input type="text" class="form-control" id="restaurant-website-url" placeholder="Enter restaurant website url" value="@Product?.Url">
            </div>
            <div class="form-group">
                <label for="restaurant-description">Description</label>
                <input type="text" class="form-control" id="restaurant-description" placeholder="Enter restaurant description" value="@Product?.Description">
            </div>
            <button class="btn btn-primary">Save</button>
        </form>
    
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@code {
    [Parameter]
    public ProductModel Product { get; set; }
}